.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#fileElem {
  margin-top: 50px;
}
.split {
  height: 100%;
  width:100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 20px;
}

/* .left {  
  /* padding-top:200px; */
  /* left: 0;
  width: 30%;
  border-right:1px solid black; 
} */

.left {  
  /* padding-top:200px; */
  left: 0;
  width: 30%;
  /* border-right:1px solid black; */
  float: left;
  padding-right: 2%;
}

.right {
  /* padding-top:200px; */
  list-style: none;
  right: 0;
  width: 70%;
  /* height: 90%; */
  /* background-color: beige; */
}

/* .top {
  height:90%;
  
}
.bottom {
  height: 10%;
} */
.centered {
  position: absolute;
  height: 100%
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* text-align: center; */
}
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > div > li {
  border: 1px solid gray;
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0px;
}

#page-numbers > li.active {
  background-color: gray;
}

.wellSpacing {
  margin:10px auto;
}

.buttonSpacing {
  margin:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
